<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">

    </script>
    <style type="text/css">
       /*#sub{*/
       /*    margin-left: 450px;*/
       /*}*/
    </style>

</head>
<body>

<!--    <h2>分类查询</h2><br/>-->
<br/>
<!--    <a th:href="@{/overtimelist(status=1)}"><input  type="button" name="status"  value="已审批" class="btn btn-info"></a>-->
<!--    <a th:href="@{/overtimelist(status=0)}"><input  type="button" name="status"  value="未审批" class="btn btn-info"></a><br/><br/>-->


    <form th:action="@{/overtimelist}" method="post" >

        员工工号：<input style="width: 150px;height: 25px" type="text" name="number" value="" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--            <br/><br/>-->

        审批状态：<select name="status" style="width: 256px;height: 29px" >
            <option value="">--请选择--</option>
            <option value="0">未审批</option>
            <option value="1">已审批</option>
            <option value="2">驳回</option>
        </select>&nbsp;&nbsp;&nbsp;
<!--            <br/><br/>-->

        部门编号：<select  name="deptNumber" style="width: 130px;height: 29px" >
        <option value="">--请选择--</option>
        <option >SSBG_BU18</option>
        <option >SSBG_BU19</option>
        <option >SSBG_BU20</option>
        </select>

        <select name="deptNumber1" style="width: 120px;height: 29px" >
            <option value="">--请选择--</option>
            <option >DU1</option>
            <option >DU2</option>
        </select>&nbsp;&nbsp;&nbsp;
<!--            <br/><br/>-->

        <input id="sub" type="submit" value="查询" class="btn btn-info  btn-lg">
        <br/>
    </form>

<!--    <br/>-->
<br/>
    <div id="tb" >

    <h1 align="center" style="letter-spacing: 10px">加班申请记录</h1><br/>
    <table border="1" cellspacing="0" class="table table-striped table-bordered">
        <tr style="height: 30px">
            <th style="width: 120px">工号</th>
            <th style="width: 120px">姓名</th>
            <th style="width: 220px">开始时间</th>
            <th style="width: 220px">结束时间</th>
            <th style="width: 120px">申请时长</th>
            <th style="width: 170px">加班理由</th>
            <th style="width: 220px">申请时间</th>
            <th style="width: 120px">审批状态</th>
        </tr>

        <tr tyle="height: 27px" th:each="list:${lists}">
            <td align="center" th:text="${list.number}"></td>
            <td align="center" th:text="${list.name}"></td>
            <td align="center" th:text="${list.startTime}"></td>
            <td align="center" th:text="${list.endTime}"></td>
            <td align="center" th:text="${list.overTime}"></td>
            <td align="center" th:text="${list.reason}"></td>
            <td align="center" th:text="${list.applyTime}"></td>
            <td align="center" th:text="${list.status}"></td>
        </tr>
    </table>



    </div>

</body>

</html>



